*{
    box-sizing: border-box;
}
:root {
    --primary-color : #333;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
    padding: 0;
    margin: 0;
}

.lines1,.lines2,.lines3 {
    width: 25px;
    height: 3px;
    margin: 6px;
}

.crossxs .lines1 {
    transform: translateX(4px) rotate(45deg);
    /* transform: translateX(5px); */
    transform-origin: left;
}

.crossxs .lines2 {
    opacity: 0;
}

.crossxs .lines3 {
    transform: translateX(4px) rotate(-45deg);
    transform-origin: left;
}

/* Start Left SideBar Section  */
/* start left sidebar */
.sidebars{
    min-height: 100vh;
    background-color: #000;
}
.sidebarlinks {
    opacity: 0.75;
    transition: all 0.4s ease 0s;
    position: relative;
}
.sidebarlinks:hover {
    opacity: 1;
    background-color: #555;
}
.currents {
    box-shadow: -2px 0 10px #333;
    opacity: 1;
    transform: all 0.3s ease 0s;
}

.currents:hover {
    transform: translateY(-1p);
}
.mores {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/* end left sidebar */
/* stat top side bar */
.topnavbars {
    background-color: var(--primary-color);
}
.iconparents {
    position: relative;
}
.iconbullets::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 5px;
}
/* End top side bar */
/* End Left SideBar Section  */